*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    background: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1000px;
}
.box{
    width: 25%;
    height: 200px;
}
.box1{
    width: 100%;
    order: 1;
    background: red;
}
.box2{
    order: 2;
    background: green;
}
.box3{
    order: 3;
    background: blue;
}
.box4{
    order: 4;
    background: black;
}
.container{
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}