table{
    border-collapse: collapse;
    width: auto;
}
tr{
    border: 1px solid black;
    text-align: center;
    width: 200px;
}
td{
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 40px;
}