*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
ul li{
 height: 80px;
 width: 80px;
 text-align: center;
 line-height: 80px;
 display: inline-block;
 position: relative;
}
.wa:hover{
    color: green;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 40px green;
    transition: 0.4s;
    
}
.yt:hover{
    color: red;
    cursor: pointer;
    box-shadow: 0px 0px 40px red;
    transition: 0.4s;
}
.ig:hover{
    color: fuchsia;
    cursor: pointer;
    box-shadow: 0px 0px 40px fuchsia;
    transition: 0.4s;
}
.vk:hover{
    color: navy;
    cursor: pointer;
    box-shadow: 0px 0px 40px navy;
    transition: 0.4s;
}
.tg:hover{
    color: blue;
    cursor: pointer;
    box-shadow: 0px 0px 40px blue;
    transition: 0.4s;
}
