*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bus{
    height: 500px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boy,.girl,.granny{
    width: 100px;
    height: 150px;
}
.boy{
    background: blue;
}
.girl{
    background: red;
}
.granny{
    background: gray;
}
    